html, body {
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: var(--Negro-fondo);
    color: var(--Blanco-Numeros);
    
    
}

:root {
    --Negro-fondo: rgb(0, 0, 0);
    --Verde-Operadores: rgb(49, 255, 18);
    --Blanco-Numeros: rgb(255, 255, 255);
    --Negro-fondo-Numeros: rgb(15, 15, 15);
    --Negro2-fondo-Numeros: rgb(80, 80, 80);
    --Gris-fondo-Operadores: rgb(40, 40, 40);
    --Gris2-fondo-Operadores: rgb(100, 100, 100);
    --Naranja-Ac: rgb(250, 96, 24);

}

button {
    all: unset;
    border: .5px;
    height: 50px;
    width: 50px;
    border-radius:100%;
    font-size: .5rem;
    text-align: center;

}


#Calculadora{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    text-align: center;
    grid-template-areas: 
      "AC parentesis porcentaje dividir"
        "num7 num8 num9 multiplicar"
        "num4 num5 num6 restar"
        "num1 num2 num3 sumar"
        "mas-menos num0 punto igual";

}




#AC { grid-area: AC;}
.parentesis { grid-area: parentesis; }
.porcentaje { grid-area: porcentaje; }
.operador-dividir { grid-area: dividir; }
.num7 { grid-area: num7; }
.num8 { grid-area: num8; }
.num9 { grid-area: num9; }
.operador-multiplicar { grid-area: multiplicar;}
.num4 { grid-area: num4; }
.num5 { grid-area: num5; }
.num6 { grid-area: num6; }
.operador-resta { grid-area: restar; }
.num1 {grid-area: num1;}
.num2 { grid-area: num2; }
.num3 { grid-area: num3; }
.operador-suma { grid-area: sumar; }
.mas-menos { grid-area: mas-menos; }
.num0 { grid-area: num0; }
.punto { grid-area: punto;}
.igual { grid-area: igual;}





.boton-numero {
    background-color: var(--Negro-fondo-Numeros);
}

.boton-funcion {
    background-color: var(--Gris-fondo-Operadores);
    color: var(--Verde-Operadores);
}

/*#ContenedorNumeros button{
    background-color: var(--Negro-fondo-Numeros);
}
#ListadeOperadores button{
    background-color: var(--Gris-fondo-Operadores);
    color: var(--Verde-Operadores);
}
*/

#Resultados {
    text-align: right;
}

#Resultados div {
    margin: 5px;
}

#Respuestadeoperacion {
    height: 40px;
    width: 100%;
}

#AC {
    color: var(--Naranja-Ac);
}















